/* %%%%% Color Pallette %%%%% */
:root {
  --black: #03071eff;
  --dark-sienna: #370617ff;
  --rosewood: #6a040fff;
  --dark-red: #9d0208ff;
  --rosso-corsa: #d00000ff;
  --vermilion: #dc2f02ff;
  --persimmon: #e85d04ff;
  --tangerine: #f48c06ff;
  --orange-web: #faa307ff;
  --selective-yellow: #ffba08ff;
  --white: #ffffff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: #f6f6f6;
}
#page-container {
  width: 90%;
  margin: 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#drink-container {
  width: 90%;
  height: 450px;
  margin: 2em auto;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
}

figure {
  width: 90%;
  height: 50%;
}

figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 10px;
}

figcaption {
  color: var(--persimmon);
  font-style: italic;
  text-align: center;
  font-size: 20px;
  margin-bottom: 0.5em;
}

h4 {
  color: var(--persimmon);
  text-decoration: underline;
  font-size: 18px;
}

ul {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}
li {
  color: var(--white);
  list-style: none;
}

.drink-card-image {
  cursor: pointer;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  main {
    max-width: 1800px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
}
